<img
  src="assets/img/logo_small.png"
  class="backgroundImage"
  alt="backgroundImage"
/>
<div class="flexrow">
  <div class="container">
    <app-pet-card
      *ngFor="let i of posts"
      [text]="i.text"
      [img]="i.img"
    ></app-pet-card>
  </div>
  <div class="profile-suggestions">
    <p><b>You might know</b></p>
    <app-proposals
      *ngFor="let j of proposals"
      [description]="j.description"
      [name]="j.name"
      [img]="j.img"
    ></app-proposals>
  </div>
</div>

<app-header
  class="sticky"
  [ngStyle]="{ display: bigHeaderDisplay }"
></app-header>
<app-header-small
  class="sticky"
  [ngStyle]="{ display: smallHeaderDisplay }"
></app-header-small>
