.container{
    margin-right:48px;
    margin-bottom:48px;
    justify-content: space-between;
    max-width: 400px;
    padding: 10px 0;
    app-pet-card {
        border: 5px solid rgba(0, 0, 0, 0.001);
    }
}

.flexrow{
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 150px;
    left:0px;
    
}
.profile-suggestions{
    app-proposals{
        margin: 100px;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
.backgroundImage{
    position: fixed;
    right: -150px;
    bottom: -150px;
    width:60%;
    transform: rotate(-20deg);
    opacity: 0.1;
    z-index: -100;
}

.byText{
    position: fixed;
    font-size: 15px;
    border: none;
    align-items: center;
    bottom:10px;
    right: 20px;
    color: var(--text-color);
    opacity: 0.3;
    a{
        text-decoration: none;
        color: var(--text-color);
    }
}

// rearrange the order of the elements if the screen is too small
@media screen and (max-width: 600px) {
    .flexrow{
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 70px;
        app-pet-card {
            padding-bottom: 200px;
        }
    }
    .backgroundImage {
        position: fixed;
        right: -50px;
        bottom: -50px;
        width: 80%;
        transform: rotate(-20deg);
        opacity: 0.1;
        z-index: -100;
    }
    .byText{
        //position in middle of screen
        position: relative;
        width:100%;
        text-align: center;
    }
}



.btn {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
    width: 300px;
    height: 50px;
    background-color: #e99469;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: #ffb472;
        opacity: 0.8;
        color: #e99469;
    }
}
