.profile-row{
    display:flex;
    align-items: center;
    cursor: pointer;
    img{
        width:60px;
        height:60px;
        border-radius:50%;
        object-fit: cover;
        object-position: right;
    }
    .description{
        color: rgba(0,0,0,0.5);
        font-size: 12px;
    }
}

@media (prefers-color-scheme: dark) {
    .profile-row{
        .description{
            color: rgba(255,255,255,0.5);
        }
        .name{
            color: white;
        }
    }
}