.settings{
    width: 200px;
    position: fixed;
    right:0px;
    top:100px;
    button{
        background-color: white;
        font-size: 20px;
        height:50px;
        width:100%;
        cursor: pointer;
        border-radius: 0%;
        border: none;
        &:hover {
            background-color: #ffb472;
            opacity: 0.8;
            color: #e99469;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .settings {
        button{
            background-color: #09091a;
            color: white;
        }
    }
}

@media screen and (max-width: 600px) {
    .settings{
        width: 100%;
        top:95px;
    }
}