.settings{
    width: 200px;
    position: fixed;
    right:0px;
    top:100px;
    animation-name: slideInFromRight;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    z-index: 1000;
    button{
        background-color: var(--color);
        font-size: 20px;
        height:50px;
        width:100%;
        cursor: pointer;
        border-radius: 0%;
        border: none;
        color: var(--text-color);
        &:hover {
            background-color: #ffb472;
            opacity: 0.8;
            color: #e99469;
        }
    }
    .colorImage{
        width: 50px;
        height: 23px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .settings{
        width: 100%;
        top:95px;
        animation-name: slideInFromTop;
    }
}

@keyframes slideInFromTop{
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes slideInFromRight{
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}